@charset "utf-8";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  background-color: #fff;
}
:is(body .container, section, footer) {
  width: 100%;
}
/* 인트로 🍅🍅🍅 */
.intro {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.intro > p {
  font-size: 3rem;
  letter-spacing: -0.1rem;
}
.intro .center_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.center_title span {
  display: block;
  height: fit-content;
  font-size: 12.5vw;
  letter-spacing: -0.4vw;
  line-height: 0.8;
  padding-right: 0.6vw;
}
.intro .bottom_slide {
  display: flex;
  gap: 1vw;
}
.intro .bottom_slide p {
  font-size: 3rem;
}
.intro .slide_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 0;
}
.bottom_slide.list1 {
  animation: slide1 12s linear infinite;
}
.bottom_slide.list2 {
  animation: slide2 12s linear infinite;
}
@keyframes slide1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* 헤더 🍅🍅🍅 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: end;
  gap: 0.8vw;
  z-index: 1000;
  padding: 0.6vw;
  color: #fff;
  mix-blend-mode: difference;
}
header a {
  font-size: 1.6vw;
  font-weight: 700;
  line-height: 1.2;
}
header a:first-child::after {
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 3.4px;
  background-color: #fff;
}
/* 햄버거 버튼 🍅🍅🍅 */
.ham_button {
  align-items: center;
  color: #fff;
  display: flex;
  mix-blend-mode: difference;
  position: fixed;
  right: 0.6rem;
  top: 0.6rem;
  width: 2.4rem;
  height: 2rem;
  z-index: 9999;
  cursor: pointer;
}
.ham_button::before {
  background-color: transparent;
  bottom: -1rem;
  content: "";
  left: -1rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
}
.ham_button .toggle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}
.ham_button .toggle span {
  height: 0.3rem;
  width: 100%;
  transition: transform 0.8s cubic-bezier(0.32, 0.94, 0.6, 1);
  transform: scaleX(1);
}
.ham_button :is(.toggle, .toggle_cross) span::before {
  background-color: currentColor;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: right;
  transition: transform 0.8s cubic-bezier(0.32, 0.94, 0.6, 1);
  width: 100%;
}
.ham_button .toggle span:first-child::before {
  transition-delay: 0.65s;
  transform: scaleX(1);
}
.ham_button .toggle span:last-child::before {
  transition-delay: 0.75s;
  transform: scaleX(1);
}
.ham_button.on .toggle span:first-child::before {
  transition-delay: 0s;
  transform: scaleX(0);
}
.ham_button.on .toggle span:last-child::before {
  transition-delay: 0.1s;
  transform: scaleX(0);
}
.ham_button .toggle_cross {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ham_button .toggle_cross span {
  height: 0.3rem;
  width: 100%;
  position: absolute;
  top: 0.8rem;
  transform-origin: 50% 50% 0;
  transform-origin: initial;
}
.ham_button .toggle_cross span:first-child {
  transform: rotate(45deg);
}
.ham_button .toggle_cross span:last-child {
  transform: rotate(-45deg);
}
.ham_button .toggle_cross span:first-child::before {
  transition-delay: 0s;
  transform: scaleX(0);
}
.ham_button .toggle_cross span:last-child::before {
  transition-delay: 0.1s;
  transform: scaleX(0);
}
.ham_button.on .toggle_cross span:first-child::before {
  transition-delay: 0.65s;
  transform: scaleX(1);
}
.ham_button.on .toggle_cross span:last-child::before {
  transition-delay: 0.75s;
  transform: scaleX(1);
}
/* 햄버거 메뉴 🍅🍅🍅 */
.ham_menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  padding: 0.8vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.32, 0.94, 0.6, 1);
}
.ham_menu.on {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.6s;
}
.ham_menu .top_menu a {
  display: block;
  font-size: 3.6rem;
  letter-spacing: -0.2vw;
  line-height: 0.9;
  font-weight: 700;
}
.ham_menu .center_logo p {
  height: 2vw;
  font-size: 5vw;
  font-weight: 700;
  position: fixed;
  line-height: 2vw;
  z-index: 999;
}
.center_logo p:nth-child(1) {
  left: 0.8vw;
  top: calc(50% - 1vw);
}
.center_logo p:nth-child(2) {
  width: 6vw;
  text-align: center;
  left: calc(50% - 3vw);
  top: calc(50% - 1vw);
}
.center_logo p:nth-child(3) {
  right: 0.8vw;
  top: calc(50% - 1vw);
}
.bottom_menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 100%;
  padding: 0 6rem;
  gap: 0 6rem;
  row-gap: 1rem;
  padding-bottom: 1rem;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.32, 0.94, 0.6, 1);
  transition-delay: 0.4s;
}
.bottom_menu.on {
  opacity: 1;
}
.bottom_menu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom_menu > div :is(p, a, span, li) {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: -0.04vw;
  line-height: 1.4;
}
.bottom_menu > div a {
  display: block;
  width: fit-content;
  position: relative;
}
.bottom_menu .time {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
/* 센터 텍스트 🍅🍅🍅 */
.center_text {
  width: 100%;
}
.center_text a {
  color: #fff;
  mix-blend-mode: difference;
  display: block;
  height: 2vw;
  font-size: 1.8vw;
  font-weight: 700;
  position: fixed;
  line-height: 2vw;
  z-index: 999;
}
.center_text a:nth-child(1) {
  left: 0.6vw;
  top: calc(50% - 1vw);
}
.center_text a:nth-child(2) {
  width: 6vw;
  text-align: center;
  left: calc(50% - 3vw);
  top: calc(50% - 1vw);
}
.center_text a:nth-child(3) {
  right: 0.6vw;
  top: calc(50% - 1vw);
}
/* 메인비주얼 슬라이드 🍅🍅🍅 */
.home {
  position: relative;
  height: 601vh;
}
.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.brand-list {
  z-index: 6; /* slide z-index 보다 높게 설정. 그래야 텍스트가 보여짐 */
  position: absolute; /* 텍스트 영역 absolute 배치 */
  display: flex;
  flex-direction: column;
}
.brand-list.left {
  top: 0;
  left: 0.4rem;
}
.brand-list.right {
  align-items: flex-end;
  top: calc(50dvh + 1vw);
  right: 0.7vw;
}
.brand-item {
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -0.07em;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1.2;
}
.brand-list.left .brand-item {
  padding-top: 1rem;
  line-height: 0.8;
  transform-origin: left top;
  /* transform 기준점 left top으로 설정 */
}
.brand-list.left .brand-item:not(:first-child) {
  /* 왼쪽은 첫 번째 텍스트 제외하고 안보이는 상태에서 스크롤 할 때마다 하나 씩 보여질 예정으로 기본 세팅으로 scale 0 적용*/
  transform: scale(0);
}
.brand-list.right .brand-item {
  line-height: 0.79;
  transform-origin: right top;
  /* transform 기준점 right top으로 설정 */
}
.slide-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-image: radial-gradient(
    #fff,
    #000
  ); /* 필수 속성 ! 없으면 스크롤 해도 다음 영역이 보이지 않음 */
}
.slide:nth-child(1) {
  z-index: 5;
}
.slide:nth-child(2) {
  z-index: 4;
}
.slide:nth-child(3) {
  z-index: 3;
}
.slide:nth-child(4) {
  z-index: 2;
}
.slide:nth-child(5) {
  z-index: 1;
}
.slide:nth-child(6) {
  z-index: 0;
}
.slide video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* 섹션 1 🍅🍅🍅 */
.sec1 {
  padding: 0.6vw;
  margin-top: 1vw;
  margin-bottom: 11vw;
}
.top_title {
  width: 100%;
}
.top_title div {
  font-size: 10.4vw;
  font-weight: 740;
  line-height: 0.7;
  letter-spacing: -0.5vw;
}
.top_title .idea {
  position: absolute;
  right: 0.6vw;
  transform: translateY(-4vw);
}
.bottom_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 7.8vw;
  gap: 7.8vw;
}
.bottom_grid .text_box {
  grid-column: 3 / span 1;
}
.bottom_grid .text_box p {
  font-size: 2vw;
  font-weight: 720;
  letter-spacing: -0.05vw;
  line-height: 1.1;
  margin-bottom: 1.4vw;
}
.bottom_grid .text_box a {
  width: fit-content;
  font-size: 0.9em;
  font-weight: 700;
  display: block;
  padding: 0 0.8rem;
  border: 1px solid #000;
  border-radius: 50px;
}
.bottom_grid .text_box a:hover {
  background: #000;
  color: #fff;
}
/* 섹션 2 🍅🍅🍅 */
.sec2 {
  margin-bottom: 25vw;
  min-height: 75vw;
  padding: 20vw 0.6vw 0;
  position: relative;
}
.sec2 .video_reel_box {
  height: 120%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.sec2 .video_reel_box .inner_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 100dvh;
  position: sticky;
  top: 0;
  padding: 0 7.8vw;
  gap: 0 5.2vw;
}
.inner_grid .video_reel {
  grid-column: 1 / span 4;
  height: 80%;
}
.inner_grid .center_video {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}
.inner_grid .center_video video {
  width: 100%;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
}
.sec2 > ul {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  color: #fff;
  mix-blend-mode: difference;
}
.sec2 .left_list {
  /* position: fixed; */
  left: 0.6vw;
  bottom: 52%;
}
.sec2 li {
  font-size: 5.4vw;
  font-weight: 700;
  letter-spacing: -0.2vw;
  line-height: 0.9;
  white-space: nowrap;
}
.sec2 .left_list li {
  transform: scale(0);
  transform-origin: left bottom;
  position: absolute;
  bottom: 0;
  /* bottom: 52%; */
}
.sec2 .right_list {
  position: absolute;
  align-items: flex-end;
  top: 52%;
  right: 0.6vw;
}
.sec2 .right_list li {
  position: sticky;
  top: 52%;
  transform-origin: right top;
}
/* 섹션 3 🍅🍅🍅 */
.brand_wrap {
  width: 100%;
  margin-top: 8vw;
  overflow: hidden;
}
.brand_wrap .brand_row {
  gap: 0.5vw;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.brand_row :is(.left, .right) {
  width: calc(50% - 0.25vw);
}
.brand_row .left {
  display: flex;
  justify-content: end;
}
.brand_row .right {
  display: flex;
  justify-content: start;
}
.brand_row p {
  font-size: 3.2vw;
  line-height: 0.9;
  font-weight: 740;
  letter-spacing: -0.1vw;
}
.brand_row img {
  max-width: 8vw;
  height: 1.6em;
}
/* 푸터 🍅🍅🍅 */
footer {
  margin-top: 15.6vw;
}
footer .con {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 7.8vw;
  gap: 0 7.8vw;
}
.con > div {
  display: flex;
  flex-direction: column;
  grid-column-end: span 1;
  justify-content: flex-end;
  row-gap: 0.4em;
}
.con .time ul :is(li:nth-child(1), li:nth-child(2)) {
  margin-bottom: 0.4em;
}
footer .con :is(p, a, span, li) {
  font-size: 1.04vw;
  font-weight: 700;
  letter-spacing: -0.04vw;
  line-height: 1;
}
footer .con a {
  display: block;
  width: fit-content;
  position: relative;
}
:is(footer .con, .bottom_menu > div) a:before {
  background-color: currentColor;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s;
  width: 100%;
}
:is(footer .con, .bottom_menu > div) a:hover:before {
  transform: scaleX(0);
  transform-origin: right;
}
.footer_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8.2rem;
  padding-right: 0.6vw;
}
.footer_title a {
  display: block;
  height: fit-content;
  font-size: 12.5vw;
  font-weight: 700;
  letter-spacing: -0.4vw;
  line-height: 0.8;
}
.footer_title a:first-child {
  transform-origin: left bottom;
  transform: scale(0);
}
.footer_title a:last-child {
  transform-origin: right bottom;
  transform: scale(0);
}
.colon {
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
